#
#  Defines Git attributes per file path / file pattern
#



# Define some file types explicitly as being text.
#
# This makes sure that we can never inadvertently get a file of this type into the repo with a line ending
# other than the one designated below. (regardless of the developer's local settings)

*.java            text eol=lf
*.md              text eol=lf
*.properties      text eol=lf
*.sh              text eol=lf
*.txt             text eol=lf
*.xml             text eol=lf
.gitattributes    text eol=lf
.gitignore        text eol=lf
/mvnw             text eol=lf
/mvnw.cmd         text eol=crlf



# Define some file types explicitly as being binary.
#
# (note: it is quite rare that checking in such files to a Git repository is justified,
#  however for example using the Maven Wrapper with a binary JAR is one such exception)
#
*.jar             binary
